 h1 {
        background-color: rgb(228, 218, 163);
        text-align: center;
   }
   h2 {
        background-color: rgb(187, 175, 109);
        text-align: center;
   }

   p {
      
        text-align: center;
   }

   h3 
         #buketter 
         {
          color: rgb(226, 214, 214);
          padding: 40px;
          text-align: center;
        }
footer

{ 
     color: rgb(71, 69, 63);
     padding: 15mm;
    
}

 




    